/* ======================logo============================= */

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: rgb(40, 38, 69);
  height: 100vh;
}
p {
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}

/* ================================NAVIGATION=========================== */
.container-nav {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.nav {
  background-color: rgb(40, 38, 69);
  padding: 20px 0;
  color: white;
  border-bottom: 1px solid rgb(58, 56, 90);
  position: fixed;
  width: 100%;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  font-weight: 700;
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
}

/* ===========================MONIKOP======================================= */

.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 100vh;
}

.my-pic {
  display: flex;

  height: 300px;
  width: 290px;
}
.me {
  border-radius: 100%;
  max-width: 290px;
}

a > img {
  width: 50px;
}
.social {
  display: flex;
  column-gap: 20px;
}
/* =========================ABOUT ME========================== */
#about-me-heading {
  display: flex;
  row-gap: 10px;
  align-items: center;
  width: 288px;

  justify-content: center;
  align-content: center;
}
.second-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  height: 100vh;
  row-gap: 30px;
  margin: 0;
}

#about-me > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  /* margin: auto; */
  width: 50%;
  border: 1px solid rgb(58, 56, 90);
  padding-left: 20px;
  border-radius: 20px;
}
#abot-me {
  scroll-behavior: smooth;
}

/* ====================PHOTO=================== */
.third-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  /* height: 100vh; */
  justify-content: space-around;
  row-gap: 10px;
}
#photo h2 {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  row-gap: 10px;
  align-items: center;
  align-content: center;
  width: 300px;

  justify-content: center;
}

.pictures {
  display: flex;
  width: max-content;
}
.pictures img {
  max-height: 425px;
}

.pictures-2 {
  display: flex;
  width: max-content;
}
.pictures-2 img {
  height: 393px;
}
.all-pictures {
  /* width:65%; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#me{
  width: 280px;
}
#dog {
  width: 240px;
}
#photo {
  scroll-behavior: smooth;
}
.nav-list__link:hover {
  color: rgb(251, 165, 111);
  text-decoration: underline;
}
/* ============================================= */
